.fg_plugin{
    margin-bottom: 20px !important;
    border: none !important; 
    padding: 20px !important;          
    width: 480px !important;
    height: 570px;    
    margin: 0 auto;        
    background-color: #FFFFFF;
    align-items: center;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
.enlarged {
    height: auto !important; /* Permet au formulaire de s'agrandir automatiquement */
    padding: 20px !important; /* Ajustez le remplissage si nécessaire */
    border: 1px solid #ccc !important; /* Ajoutez une bordure pour la visibilité */
}
.reduced{
    transition: all 0.3s ease !important; /* Animation douce */
    /* transform: scale(0.8) !important; Réduit la taille à 80% */
    /* opacity: 0.5 !important; Rend le formulaire un peu transparent */
    height: 300px !important;
    width: 480px !important;
    text-align: center !important;
    font-size: 40px !important;
}
.fg_plugin h4 pre{
    color: rgb(236, 8, 8);
    font-family: "Lato", Sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   stroke: #b80b0b;
   padding: 25px;
   text-align: center;
}
.fg_plugin .fg{
    width: 420px !important;
    height: 40px !important;
    margin-left: 10px;
    margin-top: 4% !important;
}
.fg_plugin .fgp{
    margin-top: 4% !important;
}
body{
    background-color: #333;
}
.fg_plugin .fg_submit{
    width: 420px;
    height: 45px;
    background-color: #2ecc71 !important; 
    margin-top: 4% !important;
    border: none;
    cursor: pointer;
    color: black !important;
    margin-left: 10px;
}
.fg_plugin .erreur{
    color: red;
    font-size: 14px;
    /* margin-left: 10px; */
}
.fg_plugin .message{
    font-size: 18px !important; 
    color:red !important;
    margin-left: 12px !important; 
}
.fg_plugin .draggable {
    cursor: grab;
    /* background-color: #f1f1f1; */
    /* border: 1px dashed #ccc; */
    /* padding: 10px;
    margin: 5px 0; */
}

.fg_plugin .drag-over {
    background-color: #e8faff;
    border: 2px dashed #2ecc71;
}


